// Variables-color

$background-color: white;
$button-color: rgb(94, 104, 33);
$button-color-hover: rgb(89, 99, 28);
$text-color: black;
$text-hover: gray;
$overlay-color: rgba(17, 17, 17, 0.473);
$sidebar-cart: #f9f9f9;
$sidebar-p-color:rgba(255, 255, 255, 0.836);
$overlay-video-color:rgba(0, 0, 0, 0.3);
$label-color: rgba(255,255,255,0.6)




