@use "../utils/variables" as *;
@use "../utils/mixin" as *;
@use "../base/reset" as *;


.menu-cards {
  @include flex($justify: space-between, $item: flex-start);
  cursor: pointer;

  .menu-category {
    width: 20%;
    text-align: left;
  }

  #cards {
    width: 75%;
    margin-top: 1.5rem;

    .swiper {
      width: 95%;
      height: 95%;
      z-index: 1;

      .swiper-wrapper {
        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: $background-color;
          @include flex($justify: center, $item: flex-start);
          position: relative;

          .slider_img {
            width: 100%;
            height: 500px;
            overflow: hidden;
            position: relative;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: bottom;
            }

            .text-overlay {
              position: absolute;
              bottom: 3rem;
              left: 3rem;
              color: $background-color;
              text-align: left;

              h2 {
                font-size: 2.5rem;
                margin-bottom: 0.5rem;
              }

              p {
                font-size: 1.1rem;
                margin-bottom: 1rem;
                color: $sidebar-p-color;
              }

            }
          }
        }
      }
    }
  }
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    @include flex($justify: center, $item: center, $direction:column);
  }
  
  .card {
    width: 17rem;
    height: 15.5rem;
    padding: 20px;
    text-align: center;
    margin-bottom: 15rem;
  
    .card-image-wrapper {
      position: relative;
      width: 100%;
      height: auto;
  
      img {
        width: 100%;
        height: auto;
        transition: opacity 0.3s ease-in-out;
  
        &.hover-image {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
        }
  
        &:hover + .icon-box-sh {
          opacity: 1;
          visibility: visible;
        }
  
        &:hover {
          &.main-image {
            opacity: 0;
          }
  
          &.hover-image {
            opacity: 1;
          }
        }
      }
  
      .icon-box-sh {
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        @include flex($direction:column);
        width: 50px;
        height: 5rem;
        background-color: $background-color;
  
        i {
          margin-top: 15px;
          color: $text-color;
          font-size: 20px;
          cursor: pointer;
        }
      }
  
      .discount-badge-card {
        position: absolute;
        top: 10px;
        background: $background-color;
        padding: 2px 6px;
        font-size: 12px;
        font-weight: bold;
        color: $text-color;
        width: 3.7rem;
        height: 1.3rem;
      }
  
      .discount-badge-card-new {
        position: absolute;
        top: 45px;
        background: $background-color;
        padding: 2px 6px;
        font-size: 12px;
        font-weight: bold;
        color: $text-color;
        width: 3.7rem;
        height: 1.3rem;
      }
    }
  
    .card-title {
      margin-top: 10px;
      font-size: 17px;
    }
  
    .card-colors {
      margin-top: 10px;
      @include flex($justify: center);
      gap: 5px;
  
      .color-circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: inline-block;
        border: 1px solid #ddd;
  
        &.black {
          background-color: $text-color;
        }
  
        &.peach {
          background-color: peachpuff;
        }
  
        &.pink {
          background-color: pink;
        }
  
        &.white {
          background-color: $background-color;
          border: 1px solid #ccc;
        }
      }
    }
  
    .card-rating {
      margin-top: 10px;
      @include flex($justify: center);
      gap: 2px;
  
      .star {
        color: gold;
        font-size: 18px;
      }
    }
  
    .card-price {
      margin-top: 5px;
      font-size: 16px;
      color: $button-color;
      font-weight: bold;
  
      .card-old-price {
        text-decoration: line-through;
        color: #888;
      }
    }
  
  }

  .widhter {
    width: 300px;
  }
  
  .heighter {
    height: 272px;
  }
  
  .product-card {
    @include flex($justify: space-between);
    width: max;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    gap: 10px;
    height: 550px;
  
    .product-image-container {
      position: relative;
      width: 100%;
      height: 17rem;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 1s ease;
  
        &.hover-image {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
        }
      }
  
  
      .discount-badge {
        position: absolute;
        top: 10px;
        background: $background-color;
        padding: 2px 6px;
        font-size: 12px;
        font-weight: bold;
        color: $text-color;
        width: 3.7rem;
        height: 1.3rem;
      }
  
      .discount-new {
        position: absolute;
        top: 45px;
        background: $background-color;
        padding: 2px 6px;
        font-size: 12px;
        font-weight: bold;
        color: $text-color;
        width: 3.7rem;
        height: 1.3rem;
      }
  
      &:hover {
        .hover-image {
          opacity: 1;
        }
  
        .main-image {
          opacity: 0;
        }
  
        .icon-box {
          display: flex;
        }
      }
    }
  
    .product-info {
      margin-top: 15px;
  
      .color-options {
        @include flex($justify: center);
        margin-bottom: 5px;
  
        .color {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          margin: 0 3px;
  
          &.black {
            background: $text-color;
          }
  
          &.white {
            background: $background-color;
            border: 1px solid #ccc;
          }
  
          &.beige {
            background: #f5deb3;
          }
  
          &.pink {
            background: rgb(253, 239, 241);
          }
        }
      }
  
      h2 {
        font-size: 15px;
        color: $text-color;
        margin: 5px 0;
      }
  
      .rating {
        color: #FFD700;
        margin-bottom: 5px;
      }
  
      .price {
        margin-bottom: 10px;
  
        .original-price {
          text-decoration: line-through;
          color: $text-hover;
          margin-right: 5px;
        }
  
        .discounted-price {
          color: $text-color;
          font-weight: bold;
        }
      }
  
    }
  }
  
  .custom-articles {
    padding: 1rem 1rem;
  
    .custom-title {
      font-size: 1.7rem;
      font-weight: bold;
      padding-bottom: 2.5rem;
    }
  
    .custom-cards {
        @include flex( $direction:column);
      gap: 2rem;
      padding: 2rem 0;
  
      .custom-card {
        @include flex($wrap: wrap, $item: center);
        gap: 2rem;
        padding-bottom: 2rem;
        border-bottom: 0.0625rem solid #e3e3e3;
  
        &:hover .custom-card-img img {
          transform: scale(1.1);
        }
  
        &.custom-card-last {
          border-bottom: none;
        }
  
        .custom-card-img {
          overflow: hidden;
          position: relative;
  
          img {
            object-fit: cover;
            height: 15rem;
            width: 22rem;
            cursor: pointer;
            transition: all 0.25s ease-in-out;
          }
  
          .custom-card-img-content {
            @include flex($justify: space-between, $direction:column);
            padding: 1rem;
            height: 100%;
            top: 0px;
            position: absolute;
  
            .custom-card-img-date {
              font-weight: 600;
              text-align: center;
              width: 3.75rem;
              height: 2.7rem;
              padding: 0;
              background-color: $background-color;
            }
  
          }
        }
  
        .custom-card-content {
            @include flex($direction:column);
          gap: 2rem;
  
          .custom-card-content-information {
            @include flex($item: center);
            gap: 1rem;
  
            .custom-card-content-information-first {
              @include flex($item: center);
              gap: 0.5rem;
              color: $rgb-text;
              font-weight: bold;
  
              img {
                border-radius: 2rem;
              }
  
              .custom-author {
                cursor: pointer;
                color: $rgb-text;
                font-weight: bold;
                transition: all 0.25s ease-in-out;
  
                &:hover {
                  opacity: 1;
                }
              }
  
              .fa-share-nodes,
              .fa-comment {
                cursor: pointer;
              }
  
              .comment-icon-container {
                position: relative;
                display: inline-block;
  
                .comment-badge {
                  position: absolute;
                  top: -0.1875rem;
                  right: -0.625rem;
                  background-color:$green;
                  color: $background-color;
                  border-radius: 50%;
                  padding: 0.125rem 0.375rem;
                  font-size: 0.4375rem;
                  font-weight: bold;
                }
              }
            }
  
            .custom-card-content-information-second {
                @include flex($item: center);
              gap: 1rem;
  
              i {
                cursor: pointer;
              }
            }
          }
  
          .custom-card-content-name {
            font-size: 2.0625rem;
            font-weight: normal;
            width: 45rem;
  
            h2 {
              transition: all 0.25s ease-in-out;
              cursor: pointer;
  
              &:hover {
                opacity: 0.8;
              }
            }
          }
        }
  
      }
    }
  }