@use "../utils/variables" as *;
@use "../utils/mixin" as *;
@use "../base/reset" as *;


.menu-category {
    margin: 7rem 1rem 7rem 1rem;
    p {
      font-size: 38px;
      font-weight: 400;
      line-height: 1.7em;

      &:hover {
        color: $button-color;
        transition: 0.5s;
      }
    }
}

.menu-category::before {
    content: '';
    position: absolute;
    left: 25%;
    top: 20%;
    bottom: 0;
    width: 2px;
    background-color: $button-color;
  }

  hr {
      border: 0;
      height: 2px;
      background: $button-color;
      margin: 20px 0;
      margin-left: 20px;
      margin-right: 20px;
    }

    .product-card-title h2{
      margin-top: 5.5rem;
      margin-bottom: 1.3rem;
      font-size: 30px;
      font-weight: bold;
      margin-left: 1.3rem;
    }
    
    .product-card-title p{
      font-size: 17px;
      color: gray;
      margin-left: 1.3rem;
    }

    .video-title {
      font-size: 30px;
      font-weight: bold;
      margin-left: 1.3rem;
    }
    
    .video-section {
      @include flex($justify: space-between);
      margin: 20px;
    
      .video-wrapper {
        position: relative;
        width: 32%;
    
        video {
          width: 100%;
          filter: brightness(0.7);
          animation-duration: 1000ms;
        }
    
        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $overlay-video-color; 
        }
    
        .label {
          position: absolute;
          bottom: 60px;
          left: 10px;
          padding: 2px 5px;
          font-size: 12px;
          border-radius: 3px;
          margin-left: 15px;
          color: $label-color;
    
          p {
            color: $label-color;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 15px;
          }
    
          h2 {
            font-size: 33px;
            color: $background-color;
            font-weight: bold;
            margin-bottom: 25px;
          }
    
          h5 {
            font-size: 15px;
            font-weight: bold;
            color: $background-color;
          }
        }
      }
    }

    .discover-section {
      margin-top: 1.5rem;
      background-color: $discover-background;
      width: 100%;
      height: 650px;
    
      .discover-wrapper {
        @include flex($direction: column);
        gap: 2rem;
        padding: 3rem 1.5rem;
    
        .icon-bloom,
        .icon-herb,
        .icon-herb-second {
          font-size: 4rem;
          font-weight: 700;
          color: $background-color;
          @include flex($item: center);
        }
    
        .icon-bloom img,
        .icon-herb img,
        .icon-herb-second img {
          margin-left: 1rem;
        }
      }
    
      .discover-body {
        @include flex($justify: space-between);
        margin-top: 4rem; 
    
        .body-cards,
        .media-card {
          width: 48%;
          @include flex($direction: column);
          gap: 1.8rem;
        }
    
        .body-cards {
          background-color: $body-card-color;
          padding: 2rem;
    
          .card-item {
            @include flex($direction: column);
            gap: 1.8rem;
    
            .card-header {
              h3 {
                font-size: 2.5rem;
                font-weight: 600;
              }
            }
    
            .card-author {
              gap: 1rem;
              @include flex($item: center);
              margin-top: 0.5rem;
            }
          }
        }
    
        .media-card {
          position: relative;
    
          img {
            width: 100%;
            height: auto;
            cursor: pointer;
          }
    
          a {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 3rem;
            color: $background-color;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }

    .product-card-title-h2p h2{
      margin-top: 10.5rem;
      margin-bottom: 1.3rem;
      font-size: 30px;
      font-weight: bold;
      margin-left: 1.3rem;
    }
    
    .product-card-title-h2p p{
      font-size: 17px;
      color: gray;
      margin-left: 1.3rem;
    } 

    .instagram__cards-title {
      font-size: 30px;
      font-weight: bold;
      margin-left: 1.3rem;
      margin-bottom: 2.7rem;
      margin-top: 5.5rem;
    }

    .care-title{
      font-weight: 500;
      font-size: 28px;
      color: $button-color;
      padding: 1rem;
    }
    
    .care {
      padding: 1rem;
    
      .container {
        @include flex($wrap: wrap);
    
        .jump-container,
        .care-woodmart-title {
          width: 50%;
        }
    
        .jump-container {
          @include flex($direction: column,$item:flex-start);
    
          .jump-box {
            width: 100%;
            padding: 15px 20px;
            background-color: rgba(94, 104, 33, 0.1);
            @include flex($item: center);
    
            .jump-title {
              color: $text-color;
              font-size: 1.2rem;
              margin-right: 10px;
            }
    
            .jump-links {
              @include flex($wrap: wrap);
              gap: 5px;
    
              .jump-link {
                font-size: 1rem;
                text-decoration: none;
                color: $text-hover;
    
                &.green {
                  color: $e-green;
                }
    
                &.gray {
                  color: $text-hover;
                }
    
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
    
          .green-line {
            width: 90%;
            height: 2px;
            background-color: $e-green;
            margin-top: 30px;
            margin-left: 9.7%;
          }
    
          .plant-list {
            width: 100%;
            padding: 1rem;
    
            .plant-item {
              @include flex($item: center);
              padding: 1rem 0;
              border-bottom: 1px solid #e7e5d9; 
    
              &:last-child {
                border-bottom: none;
    
              }
    
              .plant-icon {
                width: 3rem;
                height: 4rem;
                background-color: $discover-background; 
                @include flex($justify: center,$item:center);
                margin-left: -1rem;
                color: $background-color;
                font-size: 2rem;
                font-weight: bold;
                margin-right: 2rem;
              }
    
              .plant-name {
                font-size: 2rem;
                font-weight: 500;
                color: $text-color;
    
                &:hover{
                  color: $e-green;
                }
              }
              .plant-name-m {
                font-size: 2rem;
                font-weight: 500;
                color: $text-color;
                margin-left: 3.19rem;
    
                &:hover{
                  color: $e-green;
                }
              }
            }
          }
        }
    
        .care-woodmart-title {
          h1 {
            font-size: 68px;
            margin-bottom: 1rem;
          }
    
          p {
            font-size: 15px;
            color: $text-hover;
            font-weight: bold;
          }
        }
      }
    }